*{
    background: #624F82;
    font-family:fantasy;
}
body{
    background: #624F82;
    text-align: center;
    font-family:fantasy;

}
#head1{
    font-size: 50px;
    font-family: fantasy;
    
    color: black;
}
.main{
    border-radius: 40px;
    border-bottom: 4px solid black;
    font-size: 20px;
    margin-left: 490px;
    
}
#question{
    border-radius: 40px;
    border-bottom: 4px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.inp_text{
    border-radius: 40px;
    border-bottom: 4px solid black;
    font-size: 20px;
    margin-bottom: 6px;

}
#a21{
    border-radius: 40px;
    border-bottom: 4px solid black;
    font-size: 20px;
    margin-top: -8px;

}
.btn_edit{
    border-radius: 40px;
    border-bottom: 4px solid black;

}