*{
    background: #624F82;
}
body{
    background: #624F82;
    text-align: center;
}
#head1{
    font-weight: 240px;
    margin-top: 100px;
    color: black;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: center;
    font-family:fantasy;
}
.btn1{
    border-radius: 40px;
    border-bottom: 4px solid black;
    font-size: 30px;
    margin-right:10px ;
    
}
.btn2{
    border-radius: 40px;
    border-bottom: 4px solid black;
    font-size: 30px;
}